.button {
    margin: "1rem";
    padding: "1rem";
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: "6px";
    border: none;
    min-height: 40px;
}

.primary {
    background-color: black;
}

.secondary {
    background-color: blue;
}

.success {
    background-color: green;
}

.danger {
    background-color: red;
}

.container {
    width: 100%;
}

.left {
    display: flex;
    justify-content: left;
}

.center {
    display: flex;
    justify-content: center;
}

.right {
    display: flex;
    justify-content: right;
}

.true {
    border: 2px solid black;
    padding: 10px;
    background-color: gray;
}

.false {
    border: none;
    padding: 0px;
    background-color: none;
}